In [16]:
import pymysql
import pandas as pd
import numpy as np

In [17]:
weather = pd.read_csv("D:\python\project_weather_air_pollution\data\weather_data_collection.csv")
weather

,date_time,totalprecip_mm,avgvis_km,temp_c,wind_kph,pressure_in,humidity
0,2010-01-01,0.00,6.0,22.3,7.12,29.92,88
1,2010-01-02,3.40,4.7,22.2,8.15,29.93,93
2,2010-01-03,7.60,3.5,21.2,9.20,29.96,94
3,2010-01-04,0.00,9.3,21.9,6.77,29.86,87
4,2010-01-05,0.50,10.0,22.8,8.32,29.82,81
...,...,...,...,...,...,...,...
5374,2024-09-19,82.33,7.8,24.7,23.95,29.58,92
5375,2024-09-20,128.75,7.8,25.4,11.84,29.59,93
5376,2024-09-21,16.28,9.5,26.7,7.44,29.66,87
5377,2024-09-22,213.94,6.5,24.3,12.87,29.64,96
5378,2024-09-23,76.39,7.6,22.0,16.25,29.78,94

In [18]:
air = pd.read_csv("D://python//project_weather_air_pollution//data//air_pollution_data.csv")
air

            date  pm2.5  pm10    o3   no2   so2    co
0     2014-01-01    NaN   NaN   NaN   NaN   NaN   NaN
1     2014-01-02    NaN  44.0  73.0  28.0  92.0  37.0
2     2014-01-03  125.0  40.0  67.0  17.0  93.0  20.0
3     2014-01-04  117.0  39.0  37.0  23.0  92.0  12.0
4     2014-01-05  116.0   NaN   NaN   NaN   NaN   NaN
...          ...    ...   ...   ...   ...   ...   ...
3921  2024-09-26   19.0  11.0   NaN  19.0  46.0   2.0
3922  2024-09-27   16.0  12.0   NaN  19.0  48.0   2.0
3923  2024-09-28   17.0  16.0   NaN  19.0  49.0   2.0
3924  2024-09-29   25.0  17.0   NaN  19.0  50.0   2.0
3925  2024-09-30   26.0  22.0   NaN  19.0  51.0   2.0

[3926 rows x 7 columns]

In [19]:
o3 = pd.read_csv("D:\python\project_weather_air_pollution\data\o3_data_pandas.csv")
o3['date_string_modified'] = o3['Day'].apply(lambda x: ' '.join(x.split()[1:3]) + ' 2024')
o3['date_time'] = pd.to_datetime(o3['date_string_modified'], format='%d %b %Y')
o3.drop(columns=["Day", "date_string_modified"], inplace=True)
o3

     O3  date_time
0    72 2024-08-22
1    68 2024-08-21
2    59 2024-08-20
3    68 2024-08-19
4    79 2024-08-18
..   ..        ...
119  55 2024-04-25
120  53 2024-04-24
121  57 2024-04-23
122  56 2024-04-22
123  54 2024-04-21

[124 rows x 2 columns]

In [20]:
df = pd.merge(weather, air, left_on="date_time", right_on="date", how="outer")
df["date_time"] = pd.to_datetime(df["date_time"])
df

,date_time,totalprecip_mm,avgvis_km,temp_c,wind_kph,pressure_in,humidity,date,pm2.5,pm10,o3,no2,so2,co
0,2010-01-01,0.0,6.0,22.3,7.12,29.92,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-02,3.4,4.7,22.2,8.15,29.93,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-03,7.6,3.5,21.2,9.20,29.96,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-04,0.0,9.3,21.9,6.77,29.86,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-05,0.5,10.0,22.8,8.32,29.82,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5382,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-26,19.0,11.0,NaN,19.0,46.0,2.0
5383,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-27,16.0,12.0,NaN,19.0,48.0,2.0
5384,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-28,17.0,16.0,NaN,19.0,49.0,2.0
5385,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-29,25.0,17.0,NaN,19.0,50.0,2.0
5386,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-30,26.0,22.0,NaN,19.0,51.0,2.0

In [21]:
for i, row in o3.iterrows():
    df.loc[df["date_time"] == row["date_time"], "o3"] = row["O3"]
df

,date_time,totalprecip_mm,avgvis_km,temp_c,wind_kph,pressure_in,humidity,date,pm2.5,pm10,o3,no2,so2,co
0,2010-01-01,0.0,6.0,22.3,7.12,29.92,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-02,3.4,4.7,22.2,8.15,29.93,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-03,7.6,3.5,21.2,9.20,29.96,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-04,0.0,9.3,21.9,6.77,29.86,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-05,0.5,10.0,22.8,8.32,29.82,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5382,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-26,19.0,11.0,NaN,19.0,46.0,2.0
5383,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-27,16.0,12.0,NaN,19.0,48.0,2.0
5384,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-28,17.0,16.0,NaN,19.0,49.0,2.0
5385,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-29,25.0,17.0,NaN,19.0,50.0,2.0
5386,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-30,26.0,22.0,NaN,19.0,51.0,2.0

In [22]:
df.tail(5)

,date_time,totalprecip_mm,avgvis_km,temp_c,wind_kph,pressure_in,humidity,date,pm2.5,pm10,o3,no2,so2,co
5382,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-26,19.0,11.0,NaN,19.0,46.0,2.0
5383,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-27,16.0,12.0,NaN,19.0,48.0,2.0
5384,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-28,17.0,16.0,NaN,19.0,49.0,2.0
5385,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-29,25.0,17.0,NaN,19.0,50.0,2.0
5386,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-30,26.0,22.0,NaN,19.0,51.0,2.0

In [23]:
df["date_time"] = df["date_time"].fillna(df["date"])
df = df.drop(columns=["date"])
df.head()

,date_time,totalprecip_mm,avgvis_km,temp_c,wind_kph,pressure_in,humidity,pm2.5,pm10,o3,no2,so2,co
0,2010-01-01,0.0,6.0,22.3,7.12,29.92,88.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-02,3.4,4.7,22.2,8.15,29.93,93.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-03,7.6,3.5,21.2,9.20,29.96,94.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-04,0.0,9.3,21.9,6.77,29.86,87.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-05,0.5,10.0,22.8,8.32,29.82,81.0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5387 entries, 0 to 5386
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_time       5387 non-null   datetime64[ns]
 1   totalprecip_mm  5379 non-null   float64
 2   avgvis_km       5379 non-null   float64
 3   temp_c          5379 non-null   float64
 4   wind_kph        5379 non-null   float64
 5   pressure_in     5379 non-null   float64
 6   humidity        5379 non-null   float64
 7   pm2.5           2006 non-null   float64
 8   pm10            2008 non-null   float64
 9   o3              2415 non-null   float64
 10  no2             2773 non-null   float64
 11  so2             2189 non-null   float64
 12  co              1951 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 547.2 KB

In [25]:
df = df.astype({
  "totalprecip_mm": float,
  "avgvis_km": float,
  "temp_c": float, 
  "wind_kph": float, 
  "pressure_in": float, 
  "humidity": float, 
  "pm2.5": float, 
  "pm10": float, 
  "o3": float, 
  "no2": float, 
  "so2": float, 
  "co": float})
df

,date_time,totalprecip_mm,avgvis_km,temp_c,wind_kph,pressure_in,humidity,pm2.5,pm10,o3,no2,so2,co
0,2010-01-01,0.0,6.0,22.3,7.12,29.92,88.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-02,3.4,4.7,22.2,8.15,29.93,93.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-03,7.6,3.5,21.2,9.20,29.96,94.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-04,0.0,9.3,21.9,6.77,29.86,87.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-05,0.5,10.0,22.8,8.32,29.82,81.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5382,2024-09-26,NaN,NaN,NaN,NaN,NaN,NaN,19.0,11.0,NaN,19.0,46.0,2.0
5383,2024-09-27,NaN,NaN,NaN,NaN,NaN,NaN,16.0,12.0,NaN,19.0,48.0,2.0
5384,2024-09-28,NaN,NaN,NaN,NaN,NaN,NaN,17.0,16.0,NaN,19.0,49.0,2.0
5385,2024-09-29,NaN,NaN,NaN,NaN,NaN,NaN,25.0,17.0,NaN,19.0,50.0,2.0
5386,2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,26.0,22.0,NaN,19.0,51.0,2.0

In [26]:
df = df.replace({np.nan: None})
df

,date_time,totalprecip_mm,avgvis_km,temp_c,wind_kph,pressure_in,humidity,pm2.5,pm10,o3,no2,so2,co
0,2010-01-01,0.0,6.0,22.3,7.12,29.92,88.0,None,None,None,None,None,None
1,2010-01-02,3.4,4.7,22.2,8.15,29.93,93.0,None,None,None,None,None,None
2,2010-01-03,7.6,3.5,21.2,9.2,29.96,94.0,None,None,None,None,None,None
3,2010-01-04,0.0,9.3,21.9,6.77,29.86,87.0,None,None,None,None,None,None
4,2010-01-05,0.5,10.0,22.8,8.32,29.82,81.0,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5382,2024-09-26,None,None,None,None,None,None,19.0,11.0,None,19.0,46.0,2.0
5383,2024-09-27,None,None,None,None,None,None,16.0,12.0,None,19.0,48.0,2.0
5384,2024-09-28,None,None,None,None,None,None,17.0,16.0,None,19.0,49.0,2.0
5385,2024-09-29,None,None,None,None,None,None,25.0,17.0,None,19.0,50.0,2.0
5386,2024-09-30,None,None,None,None,None,None,26.0,22.0,None,19.0,51.0,2.0

In [27]:
timeout = 10

connection = pymysql.connect(
  charset="utf8mb4",
  connect_timeout=timeout,
  cursorclass=pymysql.cursors.DictCursor,
  db="WEATHER-AIR-POLLUTION",
  host="mysql-3cafd5ec-weather-air-pollution.e.aivencloud.com",
  password="*********************************************",
  read_timeout=timeout,
  port=24379,
  user="avnadmin",
  write_timeout=timeout,
)

In [28]:
cur = connection.cursor()
cur.execute("""CREATE TABLE IF NOT EXISTS Weather_Air (
                date_time DATE PRIMARY KEY,
                totalprecip_mm FLOAT NULL,
                avgvis_km FLOAT NULL,
                temp_c FLOAT NULL,
                wind_kph FLOAT NULL,
                pressure_in FLOAT NULL,
                humidity FLOAT NULL,
                pm2_5 FLOAT NULL,
                pm10 FLOAT NULL,
                o3 FLOAT NULL,
                no2 FLOAT NULL,
                so2 FLOAT NULL,
                co FLOAT NULL
                )""")

0

In [29]:
query = """INSERT INTO Weather_Air (date_time, totalprecip_mm, avgvis_km, temp_c, wind_kph, pressure_in, humidity, pm2_5, pm10, o3, no2, so2, co) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
data = [tuple(x) for x in df.values]
cur.executemany(query, data)
connection.commit()

In [30]:
cur.close()
connection.close()